@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700&display=swap');

/* ----------------------- */
/* CSS Reset               */
/* ----------------------- */

*{
    margin: 0;
    padding: 0;
}

/* ----------------------- */
/* Utility classes         */
/* ----------------------- */

:root{
    
    /* Font family */
    --ff-family: 'Red Hat Display', sans-serif;


    /* Font sizes */
    --fs-small:1rem;
    --fs-normal:3rem;

    /* Colors */
    --clr-dark:#333333;
    --clr-hover:#fff;
    --clr-red:#f00;

}

.flex{
    display: flex;
}

/* ----------------------- */
/* Header                  */
/* ----------------------- */

header{
    border-bottom: .25px solid #cccccc;
}

nav{
    font-family: var(--ff-family);
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline:auto ;
}

nav .main-nav{
    list-style: none;
}

nav a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-dark);
    padding: 2rem;

}

nav a:hover{
    color: var(--clr-red);
    font-weight: bold;
    border-bottom: .25px solid red;
}

.main-nav li:hover > .service-dropdown{
    position: absolute;
    display: block;
}

nav .service-dropdown{
    display: none;
    flex-direction: column;
    gap: 2rem;
}

.service-dropdown li{
    justify-content: center;
    list-style: none;
    background-color: #fafafa;
}